@{
    ViewData["Title"] = "Home Page";
}

<section id="price" class="section">
    <div class="container">

        <div class="section-heading">
            <h2>Rates</h2>
            <div class="separator"></div>
            <br/>

            <p>Note: Two Night Minimum</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="price-box1">
                    <h2>2 - 3 Days</h2>
                    <div class="price">
                        $70.00 per night
                    </div>
                    <p>Small Business Solution</p>
                    <ul>
                        <li>Unlimited calls</li>
                        <li>Free hosting</li>
                        <li>40MB of storage space</li>
                    </ul>
                    <a href="#" class="btn btn-success btn-lg btn-block">Choose Plan</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-box1">
                    <h2>4 - 7 Days</h2>
                    <div class="price">
                        $60.00 per night
                    </div>
                    <p>Medium Business Solution</p>
                    <ul>
                        <li>Unlimited calls</li>
                        <li>Free hosting</li>
                        <li>10 hours of support</li>
                        <li>Social media integration</li>
                        <li>1GB of storage space</li>
                    </ul>
                    <a href="#" class="btn btn-success btn-lg btn-block">Choose Plan</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-box1">
                    <h2>7 Days +</h2>
                    <div class="price">
                        $55.00
                    </div>
                    <p>Gigantic  Business Solution</p>
                    <ul>
                        <li>Unlimited calls</li>
                        <li>Free hosting</li>
                        <li>Unlimited hours of support</li>
                        <li>Social media integration</li>
                        <li>Anaylitcs integration</li>
                        <li>Unlimited storage space</li>
                    </ul>
                    <a href="#" class="btn btn-success btn-lg btn-block">Choose Plan</a>
                </div>
            </div>

        </div><!-- ./row -->

    </div>

    
</section>
<!-- ./price-box1 -->
<!-- section-code -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <pre class="prettyprint">
						&lt;!-- price-box1 --&gt;
						&lt;section id="price" class="section"&gt;
							&lt;div class="container"&gt;
							
								&lt;div class="section-heading"&gt;
									&lt;h2&gt;Pricing Table&lt;/h2&gt;
									&lt;div class="separator"&gt;&lt;/div&gt;						
								&lt;/div&gt;
								
								&lt;div class="row"&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="price-box1"&gt;
											&lt;h2&gt;StartUp&lt;/h2&gt;
											&lt;div class="price"&gt;
												$15.00
											&lt;/div&gt;
											&lt;p&gt;Small Business Solution&lt;/p&gt;
											&lt;ul&gt;
												&lt;li&gt;Unlimited calls&lt;/li&gt;
												&lt;li&gt;Free hosting&lt;/li&gt;
												&lt;li&gt;40MB of storage space&lt;/li&gt;
											&lt;/ul&gt;							
											&lt;a href="#" class="btn btn-success btn-lg btn-block"&gt;Choose Plan&lt;/a&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="price-box1"&gt;
											&lt;h2&gt;Standard&lt;/h2&gt;
											&lt;div class="price"&gt;
												$29.99
											&lt;/div&gt;
											&lt;p&gt;Medium Business Solution&lt;/p&gt;
											&lt;ul&gt;
												&lt;li&gt;Unlimited calls&lt;/li&gt;
												&lt;li&gt;Free hosting&lt;/li&gt;
												&lt;li&gt;10 hours of support&lt;/li&gt;
												&lt;li&gt;Social media integration&lt;/li&gt;
												&lt;li&gt;1GB of storage space&lt;/li&gt;
											&lt;/ul&gt;							
											&lt;a href="#" class="btn btn-success btn-lg btn-block"&gt;Choose Plan&lt;/a&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="price-box1"&gt;
											&lt;h2&gt;Professional&lt;/h2&gt;
											&lt;div class="price"&gt;
												$79.99
											&lt;/div&gt;
											&lt;p&gt;Gigantic  Business Solution&lt;/p&gt;
											&lt;ul&gt;
												&lt;li&gt;Unlimited calls&lt;/li&gt;
												&lt;li&gt;Free hosting&lt;/li&gt;
												&lt;li&gt;Unlimited hours of support&lt;/li&gt;
												&lt;li&gt;Social media integration&lt;/li&gt;
												&lt;li&gt;Anaylitcs integration&lt;/li&gt;
												&lt;li&gt;Unlimited storage space&lt;/li&gt;
											&lt;/ul&gt;							
											&lt;a href="#" class="btn btn-success btn-lg btn-block"&gt;Choose Plan&lt;/a&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									
								&lt;/div&gt;&lt;!-- ./row --&gt;
									
							&lt;/div&gt;								
						&lt;/section&gt;
						&lt;!-- ./price-box1 --&gt;
					</pre>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- ./section-code -->
