@{
    ViewData["Title"] = "Home Page";
}

<section id="gallery" class="section wow fadeInUp">
    <div class="container">

        <div class="section-heading">
            <h2>Contact</h2>
            <div class="separator"></div>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3247.624249968818!2d173.38906431471128!3d-35.51356831371013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0944e2d980fe29%3A0x50be5a65dc001674!2sTaumatawiwi+St%2C+Opononi+0473%2C+New+Zealand!5e0!3m2!1sen!2sca!4v1458427742085" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="gallery">
                    <figure><img src="img/gallery1.jpg" alt="image" class="img-responsive"></figure>
                    <div class="overlay">
                        <a class="info circle popup-link" href="img/gallery1.jpg"><i class="fa fa-search"></i></a>
                        <a class="info circle" data-toggle="modal" data-target="#modal-popup1"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery">
                    <figure><img src="img/img2.jpg" alt="image" class="img-responsive"></figure>
                    <div class="overlay">
                        <a class="info circle popup-link" href="img/img2.jpg"><i class="fa fa-search"></i></a>
                        <a class="info circle" data-toggle="modal" data-target="#modal-popup2"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery">
                    <figure><img src="img/img3.jpg" alt="image" class="img-responsive"></figure>
                    <div class="overlay">
                        <a class="info circle popup-link" href="img/img3.jpg"><i class="fa fa-search"></i></a>
                        <a class="info circle" data-toggle="modal" data-target="#modal-popup"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery">
                    <figure><img src="img/img4.jpg" alt="image" class="img-responsive"></figure>
                    <div class="overlay">
                        <a class="info circle popup-link" href="img/img4.jpg"><i class="fa fa-search"></i></a>
                        <a class="info circle" data-toggle="modal" data-target="#modal-popup"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>

        </div><!-- ./row -->

        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="gallery">
                    <figure><img src="img/img5.jpg" alt="image" class="img-responsive"></figure>
                    <div class="overlay">
                        <a class="info circle popup-link" href="img/img5.jpg"><i class="fa fa-search"></i></a>
                        <a class="info circle" data-toggle="modal" data-target="#modal-popup"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery">
                    <figure><img src="img/img6.jpg" alt="image" class="img-responsive"></figure>
                    <div class="overlay">
                        <a class="info circle popup-link" href="img/img6.jpg"><i class="fa fa-search"></i></a>
                        <a class="info circle" data-toggle="modal" data-target="#modal-popup"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery">
                    <figure><img src="img/img7.jpg" alt="image" class="img-responsive"></figure>
                    <div class="overlay">
                        <a class="info circle popup-link" href="img/img7.jpg"><i class="fa fa-search"></i></a>
                        <a class="info circle" data-toggle="modal" data-target="#modal-popup"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery">
                    <figure><img src="img/img8.jpg" alt="image" class="img-responsive"></figure>
                    <div class="overlay">
                        <a class="info circle popup-link" href="img/img8.jpg"><i class="fa fa-search"></i></a>
                        <a class="info circle" data-toggle="modal" data-target="#modal-popup"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>

        </div><!-- ./row -->

    </div>
</section>

<div class="modal fade modal-theme" id="modal-popup1" tabindex="0" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image Title</h4>
            </div>
            <div class="modal-body">
                <figure><img src="img/gallery1.jpg" alt="image" class="img-responsive text-center"></figure>
                <h4>Description</h4>
                <p>Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. Praesent vel enim tincidunt, euismod urna vitae, ullamcorper felis. Morbi interdum, ex ut ornare aliquam, sapien tellus commodo neque, in convallis diam mi ut leo. Praesent id lectus porta, ultrices arcu quis, auctor orci. Mauris eget pharetra leo. Quisque eu sapien tortor. Pellentesque fringilla porta lectus, eu sollicitudin est imperdiet ut. Suspendisse at tortor sit amet turpis semper cursus. Aenean tortor est, blandit id turpis vel, placerat dictum risus.</p>
                <a href="#">Sample Link</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-theme" id="modal-popup2" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image Title</h4>
            </div>
            <div class="modal-body">
                <figure><img src="img/img1.jpg" alt="image" class="img-responsive text-center"></figure>
                <h4>Description</h4>
                <p>Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. Praesent vel enim tincidunt, euismod urna vitae, ullamcorper felis. Morbi interdum, ex ut ornare aliquam, sapien tellus commodo neque, in convallis diam mi ut leo. Praesent id lectus porta, ultrices arcu quis, auctor orci. Mauris eget pharetra leo. Quisque eu sapien tortor. Pellentesque fringilla porta lectus, eu sollicitudin est imperdiet ut. Suspendisse at tortor sit amet turpis semper cursus. Aenean tortor est, blandit id turpis vel, placerat dictum risus.</p>
                <a href="#">Sample Link</a>
            </div>
        </div>
    </div>
</div>
