@{
    ViewData["Title"] = "Home Page";
}

<section id="team" class="section wow fadeInUp">
    <div class="container">

        <div class="section-heading">
            <h2>Things to do</h2>
            <div class="separator"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="team-box1">
                    <img src="~/img/gallery1.jpg" alt="image" class="img-responsive">
                    <h4>Koutu Boulders</h4>
                    <!--<span>CEO, Founder</span>-->
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12997.802530108482!2d173.4195053!3d-35.4683928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a6b17395b8dd2b5!2sKoutu+Boulders+Car+Park!5e0!3m2!1sen!2sca!4v1458536344841" frameborder="1" style="border:0" allowfullscreen></iframe>
                    <ul class="social">
                        <li><a href="#" class="circle"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="circle"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="circle"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--<div class="col-md-3 col-sm-6">
                <div class="team-box1">
                    <img src="img/team2.jpg" alt="image" class="img-responsive">
                    <h4>Mike Strong</h4>
                    <span>Lead Designer</span>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    <ul class="social">
                        <li><a href="#" class="circle"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="circle"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="circle"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-box1">
                    <img src="img/team3.jpg" alt="image" class="img-responsive">
                    <h4>Alden Richards</h4>
                    <span>Backend Developer</span>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    <ul class="social">
                        <li><a href="#" target="_blank" class="circle"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" class="circle"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank" class="circle"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-box1">
                    <img src="img/team4.jpg" alt="image" class="img-responsive">
                    <h4>Kevin Durant</h4>
                    <span>Marketing Specialist</span>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    <ul class="social">
                        <li><a href="#" class="circle"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="circle"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="circle"><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>-->
        </div><!-- ./row -->
    </div>

</section>
