@{
    ViewData["Title"] = "Home Page";
}

<section id="team3" class="section">
    <div class="container">

        <div class="section-heading">
            <h2>The Cabin</h2>
            <div class="separator"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="team-box3">
                    <img src="img/team1.jpg" alt="image" class="img-responsive">
                    <div class="team-hover">
                        <h4>Bedroom</h4>
                        <span>Queen Size bed</span>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-box3">
                    <img src="img/team2.jpg" alt="image" class="img-responsive">
                    <div class="team-hover">
                        <h4>Bathroom</h4>
                        <span></span>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-box3">
                    <img src="img/team3.jpg" alt="image" class="img-responsive">
                    <div class="team-hover">
                        <h4>Living Room</h4>
                        <span></span>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-box3">
                    <img src="img/team4.jpg" alt="image" class="img-responsive">
                    <div class="team-hover">
                        <h4>Kitchen</h4>
                        <span></span>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    </div>
                </div>
            </div>

        </div><!-- ./row -->

        <!--<div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="team-box3">
                    <img src="img/team4.jpg" alt="image" class="img-responsive">
                    <div class="team-hover">
                        <h4>Jane Doe</h4>
                        <span>Web Designer</span>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-box3">
                    <img src="img/team3.jpg" alt="image" class="img-responsive">
                    <div class="team-hover">
                        <h4>Jane Doe</h4>
                        <span>Web Designer</span>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-box3">
                    <img src="img/team2.jpg" alt="image" class="img-responsive">
                    <div class="team-hover">
                        <h4>Jane Doe</h4>
                        <span>Web Designer</span>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-box3">
                    <img src="img/team1.jpg" alt="image" class="img-responsive">
                    <div class="team-hover">
                        <h4>Jane Doe</h4>
                        <span>Web Designer</span>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>
                    </div>
                </div>
            </div>

        </div><!-- ./row -->


    </div>
       
</section>
<!-- ./team-box3 -->
