@{
    ViewData["Title"] = "Home Page";
}

<section id="slider-banner" class="section wow fadeInUp">
    <div class="container">
        <!-- slider -->
        <div>
            <!-- id="slider" class="owl-carousel"-->
            <div class="item">
                <i class="fa fa-sun-o"></i>
                <h2>Wākainga Opononi</h2>
                <p></p>
                <!--<a href="#" class="btn btn-custom btn-lg">Learn More</a>-->
            </div>
            <!--<div class="item">
                <i class="icon-chemistry"></i>
                <h2>LOTS OF OPTIONS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. </p>
                <a href="#" class="btn btn-custom btn-lg">Learn More</a>
            </div>
            <div class="item">
                <i class="fa fa-support"></i>
                <h2>100% SUPPORT</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. </p>
                <a href="#" class="btn btn-custom btn-lg">Learn More</a>
            </div>-->

        </div>
        <!-- ./slider -->
    </div>
</section>
<!-- ./slider-banner -->
<!-- services -->
