@{
    ViewData["Title"] = "Home Page";
}

<!-- testimonial-box2 -->
<section id="testimonial2" class="section">
    <div class="container">

        <div class="section-heading">
            <h2>Testimonials</h2>
            <div class="separator"></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="testimonial-box2">
                    <div class="author">
                        <img src="img/team1.jpg" alt="" class="img-responsive circle">
                    </div>
                    <div class="content">
                        <div class="arrow-left"></div>
                        <p><i class="fa fa-quote-left"></i>  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. <i class="fa fa-quote-right"></i></p>
                        <p> <span>John Doe</span> Founder, ABC Company </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-box2">
                    <div class="author">
                        <img src="img/team1.jpg" alt="" class="img-responsive rounded">
                    </div>
                    <div class="content">
                        <div class="arrow-left"></div>
                        <p><i class="fa fa-quote-left"></i>  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. <i class="fa fa-quote-right"></i></p>
                        <p> <span>John Doe</span> Founder, ABC Company </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-box2">
                    <div class="author">
                        <img src="img/team1.jpg" alt="" class="img-responsive square">
                    </div>
                    <div class="content">
                        <div class="arrow-left"></div>
                        <p><i class="fa fa-quote-left"></i>  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. <i class="fa fa-quote-right"></i></p>
                        <p> <span>John Doe</span> Founder, ABC Company </p>
                    </div>
                </div>
            </div>

        </div><!-- ./row -->

        <div class="row">
            <div class="col-md-4">
                <div class="testimonial-box2">
                    <div class="author">
                        <img src="img/team1.jpg" alt="" class="img-responsive circle">
                    </div>
                    <div class="content">
                        <div class="arrow-left"></div>
                        <p><i class="fa fa-quote-left"></i>  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. <i class="fa fa-quote-right"></i></p>
                        <p> <span>John Doe</span> Founder, ABC Company </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-box2">
                    <div class="author">
                        <img src="img/team1.jpg" alt="" class="img-responsive rounded">
                    </div>
                    <div class="content">
                        <div class="arrow-left"></div>
                        <p><i class="fa fa-quote-left"></i>  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. <i class="fa fa-quote-right"></i></p>
                        <p> <span>John Doe</span> Founder, ABC Company </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-box2">
                    <div class="author">
                        <img src="img/team1.jpg" alt="" class="img-responsive square">
                    </div>
                    <div class="content">
                        <div class="arrow-left"></div>
                        <p><i class="fa fa-quote-left"></i>  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. <i class="fa fa-quote-right"></i></p>
                        <p> <span>John Doe</span> Founder, ABC Company </p>
                    </div>
                </div>
            </div>

        </div><!-- ./row -->

    </div>

</section>
<!-- ./testimonial-box2 -->
<!-- section-code -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <pre class="prettyprint">
						&lt;!-- testimonial-box2 --&gt;
						&lt;section id="testimonial" class="section"&gt;
							&lt;div class="container"&gt;
							
								&lt;div class="section-heading"&gt;
									&lt;h2&gt;Testimonial 2&lt;/h2&gt;
									&lt;div class="separator"&gt;&lt;/div&gt;						
								&lt;/div&gt;
								
								&lt;div class="row"&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="testimonial-box2"&gt;
											&lt;div class="author"&gt;
												&lt;img src="img/team1.jpg" alt="" class="img-responsive circle"&gt;								
											&lt;/div&gt;
											&lt;div class="content"&gt;
												&lt;div class="arrow-left"&gt;&lt;/div&gt;
												&lt;p&gt;&lt;i class="fa fa-quote-left"&gt;&lt;/i&gt;  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. &lt;i class="fa fa-quote-right"&gt;&lt;/i&gt;&lt;/p&gt;
												&lt;p&gt; &lt;span&gt;John Doe&lt;/span&gt; Founder, ABC Company &lt;/p&gt;
											&lt;/div&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="testimonial-box2"&gt;
											&lt;div class="author"&gt;
												&lt;img src="img/team1.jpg" alt="" class="img-responsive rounded"&gt;								
											&lt;/div&gt;
											&lt;div class="content"&gt;
												&lt;div class="arrow-left"&gt;&lt;/div&gt;
												&lt;p&gt;&lt;i class="fa fa-quote-left"&gt;&lt;/i&gt;  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. &lt;i class="fa fa-quote-right"&gt;&lt;/i&gt;&lt;/p&gt;
												&lt;p&gt; &lt;span&gt;John Doe&lt;/span&gt; Founder, ABC Company &lt;/p&gt;
											&lt;/div&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="testimonial-box2"&gt;
											&lt;div class="author"&gt;
												&lt;img src="img/team1.jpg" alt="" class="img-responsive square"&gt;								
											&lt;/div&gt;
											&lt;div class="content"&gt;
												&lt;div class="arrow-left"&gt;&lt;/div&gt;
												&lt;p&gt;&lt;i class="fa fa-quote-left"&gt;&lt;/i&gt;  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. &lt;i class="fa fa-quote-right"&gt;&lt;/i&gt;&lt;/p&gt;
												&lt;p&gt; &lt;span&gt;John Doe&lt;/span&gt; Founder, ABC Company &lt;/p&gt;
											&lt;/div&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									
								&lt;/div&gt;&lt;!-- ./row --&gt;	
									
								&lt;div class="row"&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="testimonial-box2"&gt;
											&lt;div class="author"&gt;
												&lt;img src="img/team1.jpg" alt="" class="img-responsive circle"&gt;								
											&lt;/div&gt;
											&lt;div class="content"&gt;
												&lt;div class="arrow-left"&gt;&lt;/div&gt;
												&lt;p&gt;&lt;i class="fa fa-quote-left"&gt;&lt;/i&gt;  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. &lt;i class="fa fa-quote-right"&gt;&lt;/i&gt;&lt;/p&gt;
												&lt;p&gt; &lt;span&gt;John Doe&lt;/span&gt; Founder, ABC Company &lt;/p&gt;
											&lt;/div&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="testimonial-box2"&gt;
											&lt;div class="author"&gt;
												&lt;img src="img/team1.jpg" alt="" class="img-responsive rounded"&gt;								
											&lt;/div&gt;
											&lt;div class="content"&gt;
												&lt;div class="arrow-left"&gt;&lt;/div&gt;
												&lt;p&gt;&lt;i class="fa fa-quote-left"&gt;&lt;/i&gt;  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. &lt;i class="fa fa-quote-right"&gt;&lt;/i&gt;&lt;/p&gt;
												&lt;p&gt; &lt;span&gt;John Doe&lt;/span&gt; Founder, ABC Company &lt;/p&gt;
											&lt;/div&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class="col-md-4"&gt;
										&lt;div class="testimonial-box2"&gt;
											&lt;div class="author"&gt;
												&lt;img src="img/team1.jpg" alt="" class="img-responsive square"&gt;								
											&lt;/div&gt;
											&lt;div class="content"&gt;
												&lt;div class="arrow-left"&gt;&lt;/div&gt;
												&lt;p&gt;&lt;i class="fa fa-quote-left"&gt;&lt;/i&gt;  Donec diam quam, sagittis nec velit condimentum, imperdiet tincidunt leo. Vivamus ullamcorper nibh ut purus mattis tempus. &lt;i class="fa fa-quote-right"&gt;&lt;/i&gt;&lt;/p&gt;
												&lt;p&gt; &lt;span&gt;John Doe&lt;/span&gt; Founder, ABC Company &lt;/p&gt;
											&lt;/div&gt;							
										&lt;/div&gt;
									&lt;/div&gt;
									
								&lt;/div&gt;&lt;!-- ./row --&gt;	
								
							&lt;/div&gt;	
						&lt;/section&gt;
						&lt;!-- ./testimonial-box2 --&gt;
					</pre>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- ./section-code -->
